<a href="https://colab.research.google.com/github/Janani-360/OVFAcademy/blob/main/Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd

import math 
import collections

In [ ]:
fruits = ["apple","orange","banana","kiwi","mango"]

for i in fruits:
  
  print("Index of element " +i, "is", fruits.index(i))
  print("Length of element "+i, "is", len(i))
  for j in i:
    print("Each letter ",j)

In [ ]:
fruits.append("xacuti")
fruits.append("123")
fruits.append("345")

fruits.sort()

fruits

['123', '345', 'apple', 'banana', 'kiwi', 'mango', 'orange', 'xacuti']

In [5]:
tuple = ('one','two','three')
for i, fruit in enumerate(fruits):
  print(i,fruit)

0 apple
1 orange
2 banana
3 kiwi
4 mango
one two three

In [6]:
def tuple_func(a,b,c):
  print(a,b,c)

tuple_func(*tuple)

one two three

In [16]:
dict_country_city = {'US' : 'Washington, DC', 'France' : 'Paris','Italy' : 'Rome'}


dict_country_city['Italy']
dict_country_city
dict_country_city['Spain'] = 'Madrid'
dict_country_city
'Germany' in dict_country_city, 'Italy' in dict_country_city
more = {'Germany':'Berlin'}
dict_country_city.update(more)
dict_country_city
del dict_country_city['US']
dict_country_city

{'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome', 'Spain': 'Madrid'}