<a href="https://colab.research.google.com/github/Janani-360/OVFAcademy/blob/main/Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import math 
import collections

In [ ]:
fruits = ["apple","orange","banana","kiwi","mango"]

for i in fruits:
  
  print("Index of element " +i, "is", fruits.index(i))
  print("Length of element "+i, "is", len(i))
  for j in i:
    print("Each letter ",j)

In [ ]:
fruits.append("xacuti")
fruits.append("123")
fruits.append("345")

fruits.sort()

fruits

['123', '345', 'apple', 'banana', 'kiwi', 'mango', 'orange', 'xacuti']

In [ ]:
tuple = ('one','two','three')
for i, fruit in enumerate(fruits):
  print(i,fruit)

0 apple
1 orange
2 banana
3 kiwi
4 mango
one two three

In [ ]:
def tuple_func(a,b,c):
  print(a,b,c)

tuple_func(*tuple)

one two three

In [ ]:
dict_country_city = {'US' : 'Washington, DC', 'France' : 'Paris','Italy' : 'Rome'}


dict_country_city['Italy']
dict_country_city
dict_country_city['Spain'] = 'Madrid'
dict_country_city
'Germany' in dict_country_city, 'Italy' in dict_country_city
more = {'Germany':'Berlin'}
dict_country_city.update(more)
dict_country_city
del dict_country_city['US']
dict_country_city

{'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome', 'Spain': 'Madrid'}

In [ ]:
birthdays = {(2,15) : "ABC", (4,24) : "DEF"}
print(birthdays)
hash('Italy')
hash((2,15))
len({})

{(2, 15): 'ABC', (4, 24): 'DEF'}

0

In [ ]:
for key in dict_country_city:
  print(key,dict_country_city[key])

France Paris
Italy Rome
Spain Madrid
Germany Berlin

In [ ]:
for key in dict_country_city.keys():
  print(key,dict_country_city[key])

France Paris
Italy Rome
Spain Madrid
Germany Berlin

In [ ]:
#List comprehensions
# comprehensions largely replace map and filter built in functions, which are important and so called functional languages

squares = []
for i in range(1,11):
  squares.append(i**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares_by_four = [i**2 for i in range(1,11) if i**2 % 4 == 0]
squares_by_four

[4, 16, 36, 64, 100]

In [ ]:
# Dictionary comprehension
# key value pair
squares_dict = {i: i**2 for i in range(1,11)}
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
capitals_by_country = {'US' : 'Washington, DC', 'France' : 'Paris','Italy' : 'Rome'}
country_by_capital = {capital : cntry for cntry, capital in capitals_by_country.items()}
country_by_capital

{'Paris': 'France', 'Rome': 'Italy', 'Washington, DC': 'US'}

In [ ]:
sum(i**2 for i in range(1,11))

385

In [ ]:
counting = []
for i in range(1,6):
  for j in range(1,i+1):
    counting.append(j)
print(counting)

counting_cmpr = [j for i in range(1,6) for j in range(1,i+1)]
print(counting_cmpr)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5]
[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [ ]:
people = [("Michele", "Vallisneri", "July 15"),
          ("Albert", "Einstein", "March 14"),
          ("John", "Lennon", "October 9"),
          ("Jocelyn", "Bell Burnell", "July 15")]

In [ ]:
people[0][1]
[person for person in people if person[2] == "July 15"]
persontype = collections.namedtuple('person', ["FN","LN","BD"])
janani = persontype("Janani","Chakkaradhari","July 5")

person(FN='Janani', LN='Chakkaradhari', BD='July 5')

In [ ]:
persontype(*people[0])
namedpeople = [persontype(*person) for person in people]
[person for person in namedpeople if person.BD == "July 15"]

[person(FN='Michele', LN='Vallisneri', BD='July 15'),
 person(FN='Jocelyn', LN='Bell Burnell', BD='July 15')]

In [ ]:
# !pip install dataclasses
from dataclasses import dataclass

In [5]:
sorted("elvis") == sorted("sings")
'-'.join(sorted("aaron")) #collate
''.join(sorted("aaron"))

'aanor'

In [18]:
words = ["elvis","levis", "test","estt", "aaron"]
def signature(word):
  return ''.join(sorted(word))

def find_anagram(myword):
  '''
  Function in order to find anagrams from the list of words
  paramters:
  myword: myword represents a word for which we need to find anagrams
  '''
  
  mysign = signature(myword)
  for w in words:
    if mysign == signature(w):
      print(w)
   
find_anagram("lives")
%time find_anagram("lives")

print("-------------")

def find_anagram_cmp(myword):
  return [ w for w in words if signature(myword) == signature(w)]

find_anagram_cmp("lives")
%time find_anagram_cmp("lives")

elvis
levis
elvis
levis
CPU times: user 590 µs, sys: 0 ns, total: 590 µs
Wall time: 596 µs
-------------
CPU times: user 12 µs, sys: 0 ns, total: 12 µs
Wall time: 15 µs

['elvis', 'levis']