<a href="https://colab.research.google.com/github/Janani-360/OVFAcademy/blob/main/Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import math 
import collections

In [ ]:
fruits = ["apple","orange","banana","kiwi","mango"]

for i in fruits:
  
  print("Index of element " +i, "is", fruits.index(i))
  print("Length of element "+i, "is", len(i))
  for j in i:
    print("Each letter ",j)

In [ ]:
fruits.append("xacuti")
fruits.append("123")
fruits.append("345")

fruits.sort()

fruits

['123', '345', 'apple', 'banana', 'kiwi', 'mango', 'orange', 'xacuti']

In [ ]:
tuple = ('one','two','three')
for i, fruit in enumerate(fruits):
  print(i,fruit)

0 apple
1 orange
2 banana
3 kiwi
4 mango
one two three

In [ ]:
def tuple_func(a,b,c):
  print(a,b,c)

tuple_func(*tuple)

one two three

In [ ]:
dict_country_city = {'US' : 'Washington, DC', 'France' : 'Paris','Italy' : 'Rome'}


dict_country_city['Italy']
dict_country_city
dict_country_city['Spain'] = 'Madrid'
dict_country_city
'Germany' in dict_country_city, 'Italy' in dict_country_city
more = {'Germany':'Berlin'}
dict_country_city.update(more)
dict_country_city
del dict_country_city['US']
dict_country_city

{'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome', 'Spain': 'Madrid'}

In [ ]:
birthdays = {(2,15) : "ABC", (4,24) : "DEF"}
print(birthdays)
hash('Italy')
hash((2,15))
len({})

{(2, 15): 'ABC', (4, 24): 'DEF'}

0

In [ ]:
for key in dict_country_city:
  print(key,dict_country_city[key])

France Paris
Italy Rome
Spain Madrid
Germany Berlin

In [ ]:
for key in dict_country_city.keys():
  print(key,dict_country_city[key])

France Paris
Italy Rome
Spain Madrid
Germany Berlin

In [2]:
#List comprehensions
# comprehensions largely replace map and filter built in functions, which are important and so called functional languages

squares = []
for i in range(1,11):
  squares.append(i**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
squares = [i**2 for i in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
squares_by_four = [i**2 for i in range(1,11) if i**2 % 4 == 0]
squares_by_four

[4, 16, 36, 64, 100]

In [8]:
# Dictionary comprehension
# key value pair
squares_dict = {i: i**2 for i in range(1,11)}
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
capitals_by_country = {'US' : 'Washington, DC', 'France' : 'Paris','Italy' : 'Rome'}
country_by_capital = {capital : cntry for cntry, capital in capitals_by_country.items()}
country_by_capital

{'Paris': 'France', 'Rome': 'Italy', 'Washington, DC': 'US'}

In [13]:
sum(i**2 for i in range(1,11))

385

In [16]:
counting = []
for i in range(1,6):
  for j in range(1,i+1):
    counting.append(j)
print(counting)

counting_cmpr = [j for i in range(1,6) for j in range(1,i+1)]
print(counting_cmpr)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5]
[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5]