<a href="https://colab.research.google.com/github/Janani-360/OVFAcademy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Example

In [4]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
#!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
#!unzip red-wine-quality-cortez-et-al-2009.zip
#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer
! kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
! unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle (1).json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
large-boatyacht-pricing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  large-boatyacht-pricing-dataset.zip
replace boat_dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: boat_dataset.csv

In [7]:
import pandas as pd # manipulate db
import io
import numpy as np # manipulate numbers - very efficient - written in C/C++
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [11]:
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN,2021-01-06
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C...",2021-05-05

In [16]:
df.shape
df.dtypes
df.describe(include='all')
df.info()
len(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

10844

In [17]:
df['Year Built'].head() # one vector / one column

0    2017.0
1    2020.0
2       NaN
3    2020.0
4    1974.0
Name: Year Built, dtype: float64

In [18]:
df[['Year Built','Model']].head() # two columns

   Year Built                       Model
0      2017.0                     CAP 400
1      2020.0                       400 C
2         NaN             370 S - Aluboot
3      2020.0  10 Classic Special Edition
4      1974.0          Gullholmensnipa 21

In [21]:
df[['Year Built','Model','Category']].head() # three columns # more than one column needs two square brackets

   Year Built                       Model     Category
0      2017.0                     CAP 400  Power Boats
1      2020.0                       400 C  Power Boats
2         NaN             370 S - Aluboot  Power Boats
3      2020.0  10 Classic Special Edition  Power Boats
4      1974.0          Gullholmensnipa 21  Power Boats

In [24]:
#selecting lines
mask1 = df['Year Built'] > 2000
mask1
df[mask1].min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

Price                    CHF 1.060.000,-
Category                     Power Boats
Boat Type                       Bowrider
Year Built                        2001.0
Cert Number of People                1.0
Number of Cabins                    -1.0
Number of beds                     -23.0
Number of Toilets                    1.0
Number of Bathrooms                  1.0
Number of Showers                    1.0
Advertisement Date            2020-01-01
dtype: object

In [25]:
mask1.dtypes

dtype('bool')

In [32]:
mask2 = df['Year Built'].between(2001,2005)
df[mask2][['Category','Fuel Type']] # filtered on condition and selected few columns

          Category Fuel Type
14     Power Boats       NaN
79     Power Boats  Unleaded
91     Power Boats  Unleaded
103    Power Boats  Unleaded
108    Power Boats  Unleaded
...            ...       ...
10808  Power Boats       NaN
10809  Power Boats    Diesel
10812  Power Boats    Diesel
10824  Power Boats    Diesel
10835  Power Boats    Diesel

[1327 rows x 2 columns]

In [39]:
# multiple conditions 
mask3 = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & ((df['Number of Cabins']<=2))
df[mask3]['Number of Cabins'].isna().sum()
df[mask3].max()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

Price                                   £ 950.000,-
Category                                Power Boats
Boat Type                              Working Boat
Model                                 zwaluwkruiser
Type                     new boat on order,Unleaded
Year Built                                   2021.0
Length                                       9.99 m
Cert Number of People                          30.0
Number of Cabins                                2.0
Number of beds                                  9.0
Number of Toilets                               2.0
Number of Bathrooms                             3.0
Number of Showers                               4.0
Advertisement Date                       2021-12-30
dtype: object

In [43]:
df['Number of Cabins'].isna().sum()
mask4 = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']<=2) & (df['Fuel Type'] == 'Diesel')
df[mask4].head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
21,"EUR 4.000,-",Power Boats,Pilothouse,Bénéteau power boats,ANTARES 750 IB,L'ANTONIN,"Used boat,Diesel",1981.0,NaN,8.00 m,2.84 m,0.80 m,NaN,NaN,NaN,1.0,4.0,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,RENAULT COUACH,1 x 145 HP / 107 kW,160 l,Diesel,2850 h,NaN,NaN,"France » MARTGUES, MARTIGUES",265,Une légendaire robustesse de construction : Co...,NaN,NaN,2021-10-21
68,"EUR 6.500,-",Power Boats,Cabin Boat,Cranchi power boats,C 6 (Diesel),NaN,"Used boat,Diesel",1990.0,NaN,6.28 m,2.27 m,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,VM Motori 170 TD,1 x 170 HP / 125 kW,NaN,Diesel,300 h,NaN,NaN,Italy » Venezia,85,"Domestic Facilities onboard:,Manual Toilet.,,U...",NaN,"Battery,Generator",2020-09-21
123,"EUR 9.500,-",Power Boats,Motor Yacht,Cox Marine power boats,Cox 22,NaN,"Used boat,Diesel",1985.0,very good,6.80 m,2.50 m,0.60 m,NaN,NaN,NaN,1.0,NaN,blue,1.0,NaN,1.0,GRP,100 l,NaN,Inboard with Shaft,Yanmar 2GM20F,NaN,60 l,Diesel,NaN,NaN,NaN,Germany » Brandenburg » Berlin / Brandenburg,162,Die Cox ist ein englischer Klassiker und hat m...,NaN,NaN,2020-12-29
138,"EUR 10.000,-",Power Boats,"Cabin Boat,Trawler",Werner power boats,ehemals Polizeiboot,NaN,", ,Used boat,Diesel",1940.0,good,12.50 m,2.50 m,0.90 m,NaN,D - Sheltered waters,6.0,1.0,1.0,NaN,NaN,1.0,NaN,Steel,40 l,60 l,Inboard with Shaft,Sole Diesel,1 x 45 HP / 33 kW,200 l,Diesel,1350 h,NaN,NaN,Germany » Brandenburg » Zehdenick,900,NaN,Solar plant,"Anchor,Battery,Bilge Pump,Bilge pump,Ceran Sto...",2020-12-12
157,"EUR 10.990,-",Power Boats,Cabin Boat,Polar power boats,22,Polar 22 mit neuem Refit 2019 (,Diesel,1977.0,NaN,6.70 m,2.30 m,0.60 m,NaN,NaN,NaN,1.0,4.0,weiss,NaN,NaN,NaN,GRP,NaN,NaN,NaN,1 x 23 HP / 17 kW,1 x 23 HP / 17 kW,40 l,Diesel,NaN,NaN,NaN,Germany » Ostsee » Rügen/Ostsee,136,"Polar 22,,Der abgebildetet hafetrailer kann op...",NaN,NaN,2020-03-31

In [46]:
list_cat_to_keep = ['Diesel','Electric']
mask5 = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']<=2) & (df['Fuel Type'].isin(list_cat_to_keep))
df[mask5]['Fuel Type'].unique()

array(['Diesel', 'Electric'], dtype=object)

In [47]:
list_cat_to_keep = ['Diesel','Electric']
mask6 = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins']<=2) & (~df['Fuel Type'].isin(list_cat_to_keep))
df[mask6]['Fuel Type'].unique()

array(['Unleaded', nan, 'Hybrid', 'Gas'], dtype=object)

In [49]:
list_cat_to_keep = ['Diesel','Electric']
mask7 = ((df['Year Built']<=2001) | (df['Year Built']>=2011)) & (df['Number of Cabins'] != 2) & (~df['Fuel Type'].isin(list_cat_to_keep))
df[mask7]['Number of Cabins'].unique()

array([nan,  1., -1.,  3.,  4.,  6.,  8.,  5.,  9., 10.])

In [ ]:
7+40
40-3
21/2
21//2 #floor division
21%2 # modular division
21**2
21**3
21**4

194481

In [ ]:
gg = 2
gg == 1
gg >= 1
gg+1

3

In [ ]:
print(obj_G)

2

In [ ]:
# Focus on list
cities = ['Paris',"Zurich",'Rome','Berlin','London']
type(cities)
cities[-3]
cities[2] = 'Milan'
print(cities)
cities.insert(2,'HK')
print(cities)
cities.append('Rio')
cities
print(cities)
cities.insert(-1,'Nice')
print(cities)
cities.remove('Paris') # remove function will remove ONLY the first element  to remove
print(cities)
cities.insert(2,100)
print(cities)
cities.insert(7,'100')
print(cities)
cities.append('Berlin')
print(cities)
cities.index('Berlin')

new_list = [1,3,5,2]
cities = cities + new_list
print(cities)
new_list = (1,2,4,5)
type (new_list)
print(new_list)

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Rio']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio', 'Berlin']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio', 'Berlin', 1, 3, 5, 2]
(1, 2, 4, 5)

In [ ]:
val = -11
if val > 0:
  print('The value is +ve')
elif val < -10:
  print('Very low')  
elif val < 0:
  print('The value is -ve')
else:
  print('The value equals 0')

Very low

In [ ]:
cities is new_list

False

In [ ]:
# for Loop
fruits = ['apple','pear','cherry']
for i in fruits:
 print(i)

apple
pear
cherry

In [ ]:
i[0]

'c'

In [ ]:
list_of_list = [['a','b','c'],[1,2,3]]

for sub_list in list_of_list:
  print('we treat the list ', sub_list)

  for i in sub_list:
    print("We display the element ", i)

we treat the list  ['a', 'b', 'c']
We display the element  a
We display the element  b
We display the element  c
we treat the list  [1, 2, 3]
We display the element  1
We display the element  2
We display the element  3

In [ ]:
#functions
def calculate_area(a=3, b=5):
  '''
  Function in order to calculate the aread of a rectangle

  Parameters:
  a: a represents the length
  b: b represents the width
  '''
  area = a * b
  return area

area_out = calculate_area(a=3,b=5)
area_out = calculate_area(3)
print(area_out)

15

In [1]:
# to delete items in list - list comprehension

last_list = [0,1,2,3,4,5,888,6,7,888,8,888,9]
last_list2=[0,1,2,3,4,5,99,6,7,999,8,999,9,10]
toRemove = 888
last_list = [[value for value in last_list if value !=toRemove],[value for value in last_list2 if value !=999]]
print(last_list)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 99, 6, 7, 8, 9, 10]]